:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #fff;
  --logo-web-color: #000;
  --background-primary-color: #ffffff;
  --background-second-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --icon-color: #afb1b8;
  --cards: 30px;
  --shadow-modal: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --cubic-bezier: (0.4, 0, 0.2, 1);
  --time: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
label {
  cursor: pointer;
}

body {
  background-color: var(--background-primary-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.btn:hover {
  background-color: #188ce8;
  border: 1px solid #188ce8;
}

.backdrob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrob.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--shadow-modal);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrob.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: block;
  padding: auto 40px;
}

.form-field {
  position: relative;
  display: block;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__title {
  margin-bottom: 20px;
}

.form-field--no-indent {
  margin-bottom: 0;
}

.form-field__text {
  margin-bottom: 4px;
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus, .form-field__input:hover {
  border-color: var(--accent-color);
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__input:focus {
  cursor: text;
}

.form-field__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__comment {
  display: inline-block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus, .modal-form__comment:hover {
  border-color: var(--accent-color);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__check-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(28 / 14);
  color: var(--primary-text-color);
}

.form-field__check-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__check-input:checked + .form-field__check-label > span {
  background-color: var(--accent-color);
  border: none;
}

.form-field__check-input:checked + .form-field__check-label svg {
  fill: #fff;
}

.form-field__check-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-field__button {
  display: block;
  margin: 30px auto 0 auto;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid #00000010;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-modal);
  background-color: var(--background-primary-color);
  color: #000;
  transition-property: color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  color: var(--accent-color);
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}

.close-btn__icon {
  fill: currentColor;
}

.header {
  background-color: var(--background-primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

/*                     header logo      */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-web-color);
}

.navigation__logo {
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

/*                      navigation      */
.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.navigation__site-nav {
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  color: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item + .site-nav__item {
  margin-left: 30px;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.auth {
  display: flex;
}

.container__auth {
  margin-left: auto;
}

.auth__item + .auth__item {
  margin-left: 30px;
}

.auth__link,
.auth__link-photo {
  display: inline-flex;
  color: var(--primary-text-color);
  align-items: center;
  transition: color 250ms var(--cubic-bezier);
}

.auth__link:hover, .auth__link:focus,
.auth__link-photo:hover,
.auth__link-photo:focus {
  color: var(--accent-color);
}

.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero__title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
  margin: 0 auto 30px;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  text-transform: uppercase;
}

.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature--margin {
  margin-left: -30px;
  margin-bottom: -30px;
}

.feature__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
}

.capsule {
  justify-content: center;
  align-items: center;
}

.feature__capsule {
  background: var(--background-second-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
}

.section--work {
  padding-top: 0;
}

.container__title {
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

.work--list {
  margin-left: -30px;
  margin-bottom: -30px;
}

.work__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
}

.work__substrate {
  position: absolute;
  width: 100%;
  top: calc(294px - 70px);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.work__title {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team--margin {
  padding: 0;
  margin: 0;
}

.team__position {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team__position:nth-child(n + 2) {
  margin-left: var(--cards);
}

.section--team {
  background-color: var(--background-second-color);
}

.team__coworkers {
  padding-top: var(--cards);
  padding-bottom: var(--cards);
}

.team__title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.socials__link--dark-theme {
  background-color: var(--background-primary-color);
  color: var(--icon-color);
}

.socials__icon {
  fill: currentColor;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-list__link {
  background-color: var(--background-primary-color);
  color: var(--icon-color);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier);
}

.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}

.client-list__icon {
  fill: currentColor;
}

.client-list__item + .client-list__item {
  margin-left: 30px;
}

.client-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
}

.foot__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--cont {
  color: #ffffff60;
}

.address__item + .address__item {
  margin-top: 9px;
}

.foot-social--margin {
  margin-top: 10px;
  margin-left: 85px;
}

.foot-social__title {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials__link--light-theme {
  background-color: #ffffff10;
  color: var(--white-text-color);
}

.foot__warm {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 10px;
}

.foot-form {
  display: flex;
  align-items: flex-end;
}

.foot-form__capsule {
  width: 358px;
}

.foot-form__label {
  margin-bottom: 20px;
  display: inline-block;
}

.foot-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-footer-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--white-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-form__input:focus {
  cursor: text;
}

.foot-form__input:focus, .foot-form__input:hover {
  border-color: rgba(33, 150, 243, 0);
}

.foot-form__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}

.foot-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.foot-form__btn--side {
  margin-left: 12px;
}

.btn__icon--end {
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-photo.current {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.btn-photo {
  padding: 4px 22px;
  color: var(--second-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier), var(--cubic-bezier);
}

.btn-photo:hover,
.btn-photo:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.example-title {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.example-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--cards));
  margin-top: calc(-1 * var(--cards));
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.examples > .card-item {
  flex-basis: calc(100% / 3 - var(--cards));
  margin-left: var(--cards);
  margin-top: var(--cards);
}

.card-item {
  border: 1px solid #eeeeee;
}

.card-text {
  padding: 20px 24px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.card-link:hover .text-overley,
.card-link:focus .text-overley {
  transform: translateY(0);
}

.text-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: #fff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */