:root {
  --icon-color: #afb1b8;
  --cards: 30px;
  --shadow-modal: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --cubic-bezier: (0.4, 0, 0.2, 1);
  --time: 250ms;
}

.form-field__check-label, .header__container, .navigation, .menu-soc-list, .menu-soc-list_item {
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
label {
  cursor: pointer;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  height: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  color: #fff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 1px solid #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  border: 1px solid #188ce8;
}

.backdrob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrob.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--shadow-modal);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrob.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
}

.modal-form {
  display: block;
  padding: auto 40px;
}

.form-field {
  position: relative;
  display: block;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__title {
  margin-bottom: 20px;
}

.form-field--no-indent {
  margin-bottom: 0;
}

.form-field__text {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus, .form-field__input:hover {
  border-color: #2196f3;
}

.form-field__input:focus {
  cursor: text;
}

.form-field__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: #2196f3;
}

.modal-form__comment {
  display: inline-block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus, .modal-form__comment:hover {
  border-color: #2196f3;
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-form__comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.form-field__check-label {
  margin-bottom: 30px;
  font-size: 11px;
  line-height: 1.17;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form-field__check-label {
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
  }
}

.form-field__check-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-field__check-label span {
    margin-left: 14px;
  }
}

.form-field__icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__check-input:checked + .form-field__check-label > span {
  background-color: #2196f3;
  border: none;
}

.form-field__check-input:checked + .form-field__check-label svg {
  fill: #fff;
}

.form-field__check-link {
  color: #2196f3;
  text-decoration: underline;
}

.form-field__button {
  display: block;
  margin: auto;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid #00000010;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-modal);
  background-color: #ffffff;
  color: #000;
  transition-property: color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  color: #2196f3;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}

.close-btn__icon {
  fill: currentColor;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {
  justify-content: space-between;
}

/*                     header logo      */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.17;
  }
}

.logo__web {
  color: #2196f3;
}

/*                      navigation      */
.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 88px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__link {
  position: relative;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.auth {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .auth {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    flex-direction: row;
    align-items: center;
  }
}

.header__auth {
  margin-left: auto;
}

.auth__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .auth__item + .auth__item {
    margin-left: 30px;
  }
  .auth__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.auth__link {
  display: inline-flex;
  color: #757575;
  align-items: center;
  transition: color 250ms var(--cubic-bezier);
}

.auth__link:hover, .auth__link:focus {
  color: #2196f3;
}

.auth__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .auth__icon {
    margin-right: 10px;
  }
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  border: none;
  margin-top: 10px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-btn__ikon-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover .menu-open-btn__ikon-menu,
.menu-open-btn:focus .menu-open-btn__ikon-menu {
  fill: #2196f3;
}

.menu-close-btn__ikon-cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-close-btn__ikon-cross,
.menu-close-btn:focus .menu-close-btn__ikon-cross {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 0 40px;
  height: 100%;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--cubic-bezier);
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: #2196f3;
}

.mob-menu-list__link--color {
  color: #2196f3;
}

.menu-close-btn:hover ~ .mob-menu-list__link--color {
  color: #212121;
}

.mob-cont-list__item {
  margin-bottom: 32px;
}

.mob-cont-list__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-cont-list__link--tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-cont-list__link--mail {
  color: #757575;
}

.mob-cont-list--margin {
  margin-bottom: 64px;
}

.menu-soc-list {
  gap: 10px;
  flex-wrap: wrap;
}

.menu-soc-list_item > .mob-soc-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu-soc-list_item + .menu-soc-list_item::before {
    content: '';
    display: inline-flex;
    text-align: start;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 5px;
  }
}

.hero__title {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk-2.jpg);
  }
}

.feature__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.feature__item:not(:last-child) {
  margin-bottom: var(--cards);
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
}

.feature__capsule {
  background: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .feature__capsule {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .feature__capsule {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__capsule {
    width: 270px;
  }
}

.section.secret {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section.secret {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .section--padding-top {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .work__item {
    position: relative;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work__box {
    position: absolute;
    width: 100%;
    top: calc(294px - 70px);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  }
}

@media screen and (min-width: 1200px) {
  .work__title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__item {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.section--other-background {
  background-color: #f5f4fa;
}

.team__box {
  padding-top: var(--cards);
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-top: var(--cards);
    padding-bottom: var(--cards);
  }
}

.team__title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.team__text {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 16px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.socials__link--dark-theme {
  background-color: #ffffff;
  color: #afb1b8;
}

.socials__icon {
  fill: currentColor;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  justify-content: center;
}

.clients__link {
  background-color: #ffffff;
  color: #afb1b8;
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier);
}

@media screen and (min-width: 768px) {
  .clients__link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    max-width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .foot {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .foot {
    flex-wrap: nowrap;
  }
}

.location,
.address,
.foot-social {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .location,
  .address,
  .foot-social {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .location,
  .address,
  .foot-social {
    flex: none;
    display: block;
    text-align: left;
  }
}

.location {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .location {
    margin-bottom: 0;
  }
}

.foot-form {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .foot-form {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .foot-form {
    flex: none;
    display: flex;
    align-items: flex-end;
    text-align: left;
  }
}

.foot__logo {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .foot__logo {
    display: inline-block;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--cont {
  color: #ffffff60;
}

.address__item + .address__item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-top: 9px;
  }
}

.foot-social--margin {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .foot-social--margin {
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .foot-social--margin {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 83px;
  }
}

.foot-social__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials__link--light-theme {
  background-color: #ffffff10;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .foot__warm {
    margin-bottom: 60px;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .foot__warm {
    flex: none;
    margin-left: 93px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

.foot-form__capsule {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .foot-form__capsule {
    text-align: left;
  }
}

.foot-form__label {
  margin-bottom: 20px;
  display: block;
}

.foot-form__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .foot-form__input {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .foot-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .foot-form__input {
    width: 358px;
  }
}

.foot-form__input:focus {
  cursor: text;
}

.foot-form__input:focus, .foot-form__input:hover {
  border-color: rgba(33, 150, 243, 0);
}

.foot-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.foot-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .foot-form__btn--side {
    margin-left: 12px;
  }
}

.btn__icon--end {
  margin-left: 10px;
}

.filter {
  display: flex;
}

.container__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
}

@media screen and (min-width: 480px) {
  .container__list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container__list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.filter__btn.current {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1200px) {
  .filter__item + .filter__item {
    margin-left: 8px;
  }
}

.filter__btn {
  padding: 4px 22px;
  color: #212121;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier), var(--cubic-bezier);
}

.filter__btn:hover, .filter__btn:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.card__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--cards));
    margin-top: calc(-1 * var(--cards));
  }
}

.card__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.card__link:hover .text-overley,
.card__link:focus .text-overley {
  transform: translateY(0);
}

.card__item {
  border: 1px solid #eeeeee;
}

.card__item:not(:last-child) {
  margin-bottom: var(--cards);
}

@media screen and (min-width: 768px) {
  .card > .card__item {
    flex-basis: calc(100% / 2 - var(--cards));
    margin-left: var(--cards);
    margin-top: var(--cards);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card > .card__item {
    flex-basis: calc(100% / 3 - var(--cards));
    margin-bottom: 0;
  }
}

.card__case {
  padding: 20px 24px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.text-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .text-overley {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.56;
  }
}

@media screen and (min-width: 480px) {
  .text-overley {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
  }
}
/*# sourceMappingURL=main.css.map */