@import './utils/vars';
@import './utils/colors';
@import './utils/placeholders';
@import './utils/font';
@import './base/settings';
@import './component/container';
@import './component/btn';
@import './component/modal';
@import './layout/header';
@import './layout/hero';
@import './layout/advantage';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/filter';
@import './layout/examples';
