.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__title {
  margin-bottom: 10px;
  @include font(null, 700, 0.88, null);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 0.88;
  text-transform: uppercase;
}

.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature--margin {
  margin-left: -30px;
  margin-bottom: -30px;
}

.feature__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.feature__text {
  @include font(null, null, 1.7, null);
  // font-size: 14px;
  // line-height: 1.7;
}

.capsule {
  justify-content: center;
  align-items: center;
}

.feature__capsule {
  background: getColor('background-second');
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
}
