footer {
  background-color: getColor('background-footer');
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
}

.foot__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: getColor('light-theme');
}

.address__link {
  @include font(null, null, 1.71, null);
  // font-size: 14px;
  // line-height: 1.71;
  font-style: normal;
  color: getColor('light-theme');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.address__link--cont {
  color: #ffffff60;
}
.address__item {
  & + & {
    margin-top: 9px;
  }
}
.foot-social--margin {
  margin-top: 10px;
  margin-left: 83px;
}

.foot-social__title {
  color: getColor('light-theme');
  @include font(null, 700, 1.17, null);
  // font-weight: ;
  // font-size: 14px;
  // line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials__link--light-theme {
  background-color: #ffffff10;
  color: getColor('light-theme');
}

.foot__warm {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 10px;
}

.foot-form {
  display: flex;
  align-items: flex-end;
}

.foot-form__capsule {
  width: 358px;
}

.foot-form__label {
  margin-bottom: 20px;
  display: inline-block;
}

.foot-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: getColor('background-footer');
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: getColor('light-theme');
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    cursor: text;
  }
  &:focus,
  &:hover {
    border-color: rgba(33, 150, 243, 0);
  }
  &::placeholder {
    @include font(16px, null, 1.25, null);
    // font-size: 16px;
    // line-height: calc(20 / 16);
    color: getColor('placeholder');
  }
}

.foot-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.foot-form__btn--side {
  margin-left: 12px;
}

.btn__icon--end {
  margin-left: 10px;
}
