.header {
  background-color: getColor('background-primary');
  @include font(null, 500, null, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  @extend %align-list;
}

/*                     header logo      */

.logo {
  font-family: Raleway, sans-serif;
  @include font(26px, null, 1.19, null);

  color: getColor('logo-web');
}

.navigation__logo {
  margin-right: 93px;
}

.logo__web {
  color: getColor('accent');
}

/*                      navigation      */

.navigation {
  @extend %align-list;
}

.site-nav {
  display: flex;
}

.navigation__site-nav {
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  color: getColor('secondary-text');
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover,
  &:focus {
    color: getColor('accent');
  }
  .site-nav & {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav__item {
  & + & {
    margin-left: 30px;
  }
}
.current {
  position: relative;
  color: getColor('accent');
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: getColor('accent');
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
}

.auth {
  display: flex;
}

.header__auth {
  margin-left: auto;
}
.auth__item {
  & + & {
    margin-left: 30px;
  }
}
.auth__link {
  display: inline-flex;
  color: getColor('primary-text');
  align-items: center;
  transition: color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}
