.header {
  // position: ;
  width: 100%;
  top: 0;
  left: 0;
  background-color: getColor('background-primary');
  // @include font(14px, 500, 1.17, 0.02em);
  padding-top: 16px;
  padding-bottom: 16px;
  @include tab {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desk {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  border-bottom: 1px solid #ececec;
}

.header__container {
  @extend %align-list;
  justify-content: space-between;
}

/*                     header logo      */

.logo {
  font-family: Raleway, sans-serif;

  @include font(24px, null, 1.17, null);

  @include desk {
    @include font(26px, null, 1.17, null);
  }

  color: getColor('logo-web');
}

// .navigation__logo {
//   margin-right: 93px;
// }

.logo__web {
  color: getColor('accent');
}

/*                      navigation      */

.navigation {
  @extend %align-list;
}

.site-nav {
  display: none;
  @include tab {
    display: flex;
  }
}

.navigation__site-nav {
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  color: getColor('secondary-text');
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover,
  &:focus {
    color: getColor('accent');
  }
  .site-nav & {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav__item {
  & + & {
    margin-left: 30px;
  }
}
.current {
  position: relative;
  color: getColor('accent');
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: getColor('accent');
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
}

.auth {
  display: none;
  @include tab {
    display: flex;
  }
}

.header__auth {
  margin-left: auto;
}
.auth__item {
  & + & {
    margin-left: 30px;
  }
}
.auth__link {
  display: inline-flex;
  color: getColor('primary-text');
  align-items: center;
  transition: color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}
//                         MENU
.menu-open-btn,
.menu-close-btn {
  // width: 40px;
  // height: 40px;
  display: block;
  margin-left: auto;
  border: none;
  // background-color: transparent;
}
.mob-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: getColor('background-primary');
  padding-top: 48px;
  padding-bottom: 48px;
}
