.hero__title {
  color: getColor('light-theme');
  @include font(44px, 900, 1.3, 0.06em);

  text-align: center;

  width: 696px;
  height: 120px;
  margin: 0 auto 30px;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
}
