img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team--margin {
  padding: 0;
  margin: 0;
}

.team__position {
  background-color: getColor('light-theme');
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  &:nth-child(n + 2) {
    margin-left: var(--cards);
  }
}

.section--team {
  background-color: getColor('background-second');
}

.team__coworkers {
  padding-top: var(--cards);
  padding-bottom: var(--cards);
}

.team__title {
  color: getColor('secondary-text');
  @include font(16px, 500, 1.19, null);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.team__text {
  @include font(16px, null, 1.19, null);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.socials__link {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier), var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: getColor('accent');
    color: getColor('light-theme');
  }
}
.socials__link--dark-theme {
  background-color: getColor('background-primary');
  color: getColor('icon');
}
.socials__icon {
  fill: currentColor;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__item {
  & + & {
    margin-left: 10px;
  }
}
