.btn {
  color: #fff;
  background-color: getColor('accent');
  width: 200px;
  height: 50px;
  font-family: inherit;
  @include font(16px, 700, 1.88, 0.06em);
  border: 1px solid getColor('accent');
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier),
    border 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    background-color: getColor('btn-accent');
    border: 1px solid getColor('btn-accent');
  }
}
