:root {
    --primary-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196f3;
    --white-text-color: #fff;
    --logo-web-color: #000;
    --background-primary-color: #ffffff;
    --background-second-color: #f5f4fa;
    --background-footer-color: #2f303a;
    --icon-color: #afb1b8;
    --cards: 30px;
    --shadow-modal: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --cubic-bezier: (0.4, 0, 0.2, 1);
    --time: 250ms;
}